<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>637165141578-ai2hs534hpdfbutn7nld0pr89q2ht4sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637165141578-ai2hs534hpdfbutn7nld0pr89q2ht4sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBNyg9YsVy4r6tcZbtpsSu-xXQz6pzukdg</string>
	<key>GCM_SENDER_ID</key>
	<string>637165141578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.finkoslo.Clean-Slate</string>
	<key>PROJECT_ID</key>
	<string>clean-slate-c7247</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-slate-c7247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:637165141578:ios:4a31cb83c32b694a</string>
	<key>DATABASE_URL</key>
	<string>https://clean-slate-c7247.firebaseio.com</string>
</dict>
</plist>
